main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 300px;
    width: 100%;

}
main>div div{
    background-color: #0D6EFD;
    height: 120px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 0.25rem;
    padding: 5px;
    transition: tranform  ease-in-out;
    transition-duration: 1000ms;

}
main>div div:hover{
    transform: scale(1.2);

}

main>div div>a{
    color: white;
    text-decoration: none;
}
main img{
    width: 250px;
    border-radius: 100%;
}

